$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$base-size: 2px;
$figure-width: 560 * $base-size;
$figure-height: 300 * $base-size;
$earth-radius: 30 * $base-size;
$moon-radius: 0.273 * $earth-radius;
$longitude-greenwich: -55; //degree
$longitude-station1: -(130.368889 + $longitude-greenwich) * 1deg; //佳木斯
$longitude-station2: -(75.989722 + $longitude-greenwich) * 1deg; //喀什
$longitude-station3: -(-68.06 + $longitude-greenwich) * 1deg; //內烏肯
$scanning-angle: 170; // degree

#illustration {
  font-size: 1px;
  overflow: hidden;

  background-image: url('../images/universe.png');
  background-size: 100%;

  position: relative;

  // iPhone 6 screen size
  //width: 357px;
  //height: 667px;
  width: $figure-width;
  height: $figure-height;
  margin-left: auto;
  margin-right: auto;

  //background-color: white;

  .moon {
    width: $moon-radius * 2;
    height: $moon-radius * 2;
    position: absolute;
    right: $moon-radius * 2;
    top: $moon-radius * 2;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .rotate-group {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: $earth-radius * 4;
    height: $earth-radius * 4;
    animation:spin 8s linear infinite;

  }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .earth {
    position: absolute;
    top: 25%;
    left: 25%;
    width: $earth-radius * 2;
    height: $earth-radius * 2;
    //height: 300px;
    //-webkit-animation:spin 4s linear infinite;
    //-moz-animation:spin 4s linear infinite;
    //animation:spin 8s linear infinite;
  }
  //@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  //@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  //@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .regiongroup {
    // Position the region group at the center
    position: absolute;
    top: 50%;
    left: 50%;

    opacity: 0.5;
    div {
      background-color: #000066;
      width: $figure-width * 10;
      height: $figure-height * 10;
    }
    .region {
      position: absolute;
      bottom: 0;
      left: $earth-radius;
      &.left {
        transform-origin: left bottom;
        transform: rotate((90 - $scanning-angle/2) * 1deg);
        //-webkit-transform: rotate(0deg);
      }
      &.right {
        transform-origin: left bottom;
        transform: rotate(($scanning-angle/2) * 1deg);
        //-webkit-transform: rotate(160deg);
      }
    }
    &.green {
      opacity: 0.5;
      .region {
        background-color: #F48787;
      }
    }
    &.red {
      opacity: .5;
      .region {
        background-color: #29B5C8;
      }
    }

    &.station1 {
      transform-orientation: left bottom;
      transform: rotate($longitude-station1);
      //visibility: hidden;
      //animation:spin1 8s linear infinite;
    }
    //@keyframes spin1 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

    &.station2 {
      transform-orientation: left bottom;
      transform: rotate($longitude-station2);
      //visibility: hidden;
      //animation:spin2 8s linear infinite;
    }
    //@keyframes spin2 { 100% { -webkit-transform: rotate(480deg); transform:rotate(480deg); } }

    &.station3 {
      transform-orientation: left bottom;
      transform: rotate($longitude-station3);
      //visibility: hidden;
      //animation:spin3 8s linear infinite;
    }
    //@keyframes spin3 { 100% { -webkit-transform: rotate(630deg); transform:rotate(630deg); } }
  }
}

