$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: gainsboro;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#exp1 {
  width: 300px;
  height: 300px;
  border: dashed 1px;
  .rotate {
    position: relative;
    //top: 50%;
    //left: 50%;
    width: 300px;
    height: 300px;
    //margin: -60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}


#exp2 {

  overflow: hidden;

  background-image: url('../images/sky_nasa.jpg');
  background-size: 100%;

  position: relative;

  // iPhone 6 screen size
  width: 357px;
  height: 667px;

  //background-color: white;

  .moon {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 25px;
    top: 25px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .rotate-group {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    animation:spin 8s linear infinite;
  }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .earth {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    //height: 300px;
    //-webkit-animation:spin 4s linear infinite;
    //-moz-animation:spin 4s linear infinite;
    //animation:spin 8s linear infinite;
  }
  //@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  //@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  //@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .regiongroup {
    // Position the region group at the center
    position: absolute;
    top: 50%;
    left: 50%;

    opacity: 0.5;
    div {
      background-color: #000066;
      width: 1000px;
      height: 1000px;
    }
    .region {
      position: absolute;
      bottom: 0;
      left: 50px;
      &.left {
        transform-origin: left bottom;
        transform: rotate(20deg);
        //-webkit-transform: rotate(0deg);
      }
      &.right {
        transform-origin: left bottom;
        transform: rotate(60deg);
        //-webkit-transform: rotate(160deg);
      }
    }
    &.green {
      .region {
        background-color: green;
      }
    }
    &.red {
      .region {
        background-color: red;
      }
    }

    &.station1 {
      transform-orientation: left bottom;
      transform: rotate(0deg);
      //visibility: hidden;
      //animation:spin1 8s linear infinite;
    }
    //@keyframes spin1 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

    &.station2 {
      transform-orientation: left bottom;
      transform: rotate(120deg);
      //visibility: hidden;
      //animation:spin2 8s linear infinite;
    }
    //@keyframes spin2 { 100% { -webkit-transform: rotate(480deg); transform:rotate(480deg); } }

    &.station3 {
      transform-orientation: left bottom;
      transform: rotate(270deg);
      visibility: hidden;
      //animation:spin3 8s linear infinite;
    }
    //@keyframes spin3 { 100% { -webkit-transform: rotate(630deg); transform:rotate(630deg); } }
  }
}


#exp3 {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: white;
  #s1 {
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    overflow: hidden;
  }
  #s2 {
    position: absolute;
    background-color: green;
    width: 100px;
    height: 100px;
    transform-origin: left top;
    transform: rotate(-45deg);
    z-index: -1;
  }
}


