<p>This is the scanning-css view.</p>

<div id="exp2">
  <a href="" ng-click="switchStation()">
    <img class="rotate" src="images/Earth_polar-view_transparent-background.png" width="50%" heigh="50%" alt=""/>
  </a>
  <div class="regiongroup station1 red">
    <div class="region left">
    </div>
    <div class="region right">
    </div>
  </div>
  <div class="regiongroup station2 red">
    <div class="region left">
    </div>
    <div class="region right">
    </div>
  </div>
  <div class="regiongroup station3 green">
    <div class="region left">
    </div>
    <div class="region right">
    </div>
  </div>
</div>
