<p>中國現有兩個深空測控站，負責月球任務：一個在黑龍江，一個在新疆。下圖中，兩個測控站的測控範圍以紅色表示。</p>
<p>現在，中國在阿根廷租用土地，開始建設第三個深空測控站。</p>
<p><strong>請點擊地球，顯示阿根廷站的測控範圍。</strong></p>
<p>下圖僅作示意，與實際距離比例有出入。</p>

<div id="exp2">
  <div class="moon">
    <img src="images/moon.svg" alt=""/>
  </div>
  <div class="rotate-group">
    <a href="" ng-click="switchStation()">
      <img class="earth" src="images/earth_top.svg" alt=""/>
    </a>
    <div class="regiongroup station1 red">
      <div class="region left">
      </div>
      <div class="region right">
      </div>
    </div>
    <div class="regiongroup station2 red">
      <div class="region left">
      </div>
      <div class="region right">
      </div>
    </div>
    <div class="regiongroup station3 green">
      <div class="region left">
      </div>
      <div class="region right">
      </div>
    </div>
  </div>
</div>
